{% include 'partials/head.liquid' %}
    <main>
      <img src="" alt="">
      <h1>Page not found</h1>
      <p>Uh, oh! Error 404</p>
      <a href="/">Back to Homepage</a>
    </main>
  </body>
</html>
