{% include 'partials/head.liquid' %}
<main class="home-main">
  <aside>
    <h1>I'm looking for a gift for...</h1>
    <input type="text" placeholder="Type your message...">
  </aside>

  <section>
    {% for product in products %}
      <a href="/gift/{{ product.slug }}">
        <article>
          <img class="product-image" src="{{ product.image }}" alt="">
          <h3>{{ product.name }}</h3>
        </article>
      </a>
    {% endfor %}
  </section>

{% include 'partials/foot.liquid' %}
