{% include 'partials/head.liquid' %}

<aside>
  <h1>I'm looking for a gift for...</h1>
  <input type="text" placeholder="Type your message...">
</aside>

<section>
  <svg width="76" height="45" viewBox="0 0 76 45" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2.37988 6.47559C4.64829 2.50504 8.5039 0.269345 13.0605 0.518555L13.0596 0.519531C21.1172 0.925143 27.505 7.73256 32.665 20.8154L33.1602 22.1016L33.7002 23.5498C34.9501 26.9353 36.1299 30.3643 37.2109 33.7617L37.3848 34.2568C37.5768 34.764 37.82 35.3098 38.0771 35.8896C38.7636 37.4378 39.5216 39.146 39.6494 40.8154L39.6846 41.2793L39.2236 41.3477L36.4199 41.7617L36.668 42.917L35.4648 41.7021L35.4609 41.6982L34.7656 40.9961L35.1875 40.9326C34.6123 39.1536 33.1536 37.8606 31.1748 36.835C29.0039 35.7097 26.3094 34.9558 23.7217 34.2334H23.7207C21.9327 33.7339 20.2069 33.2493 18.7559 32.6553C12.9553 30.2869 6.18103 27.5375 2.37598 20.8955C-0.1285 16.5234 -0.123114 10.8677 2.37988 6.47656V6.47559ZM12.4248 4.91602C8.86369 4.91602 6.99511 7.24939 6.17773 8.68164C4.43664 11.7263 4.43337 15.6624 6.16895 18.6885V18.6895C9.197 23.9742 14.7905 26.2737 20.4043 28.5693C21.6087 29.0618 23.182 29.5011 24.8926 29.9805H24.8916C27.2118 30.626 29.8064 31.3517 32.166 32.4209C31.4679 30.3219 30.7392 28.2178 29.9795 26.127L29.0723 23.6699C26.7282 17.4452 24.2137 12.8229 21.5039 9.72363C18.8044 6.6362 15.9346 5.08353 12.8535 4.92383V4.9248L12.5498 4.91602H12.4248Z" fill="#E0B000" stroke="#E0B000"/>
    <path d="M62.7754 0.520508C67.1673 0.291875 70.9462 2.36977 73.2412 6.11914L73.459 6.48633L73.6855 6.90234C75.959 11.2302 75.8841 16.6622 73.458 20.8975V20.8984C69.6447 27.5483 62.8747 30.292 57.0781 32.6562C55.6267 33.2505 53.9003 33.7322 52.1133 34.2314V34.2305C49.5252 34.9551 46.8309 35.711 44.6592 36.8369C42.68 37.863 41.2195 39.1556 40.6426 40.9346L41.6494 41.085L40.2432 41.7949L40.2354 41.7988L39.3008 42.2715L39.4102 41.7627L36.6104 41.3496L36.1494 41.2822L36.1846 40.8174C36.3123 39.1435 37.0749 37.4347 37.7607 35.8838C38.1003 35.1129 38.4179 34.4062 38.623 33.7646C39.875 29.8442 41.2394 25.9193 42.6738 22.1035L43.1689 20.8174C48.3291 7.73422 54.7175 0.926731 62.7754 0.521484V0.520508ZM62.9951 4.92578C59.9124 5.08049 57.04 6.63305 54.3379 9.72461C51.6287 12.8243 49.1145 17.4475 46.7705 23.6719C45.6901 26.5397 44.6546 29.4747 43.6758 32.4189C46.0354 31.3497 48.63 30.6241 50.9502 29.9785L52.2041 29.625C53.4246 29.2762 54.5353 28.9367 55.4385 28.5674L57.5361 27.7021C62.4053 25.6546 67.0168 23.3148 69.6699 18.6865C71.4055 15.6645 71.406 11.728 69.665 8.68359L69.6641 8.68164C68.8523 7.24857 66.9778 4.91731 63.417 4.91406L62.9951 4.92578Z" fill="#E0B000" stroke="#E0B000"/>
  </svg>
  <h2>Gifts</h2>

  {% for product in products %}
    <a href="/gift/{{ product.slug }}">
      <article>
        <img class="product-image" src="{{ product.image }}" alt="">
        <h3>{{ product.name }}</h3>
        <p>{{ product.amount }}</p>
      </article>
    </a>
  {% endfor %}
</section>

{% include 'partials/foot.liquid' %}
